:root {
  --color: grey;
  --color-accent: #3d6a781f;
  --color-text: #333;
  --width-content: 75vw;
}

body,
html {
  height: 100%;
  padding: 0;
}

.full-width-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
    background-color: #222;
}

.full-width {
  flex-shrink: 0;
  padding: 1.25rem;
  background: var(--color-accent);
  min-width: 100%;
  text-align: var(--justify-normal);
  min-height: 70px;
  flex-shrink: 0;
    background-color: #333
}

main {
  flex: 1 1 100%;
  margin: 0;
}

footer > * {
  text-align: var(--justify-important);
  color: var(--color-text-secondary);
}

.map-container {
  width: 100%;
       background-color: #333;
}

.map-container > figure {
  position: relative;
}

.pin {
  width: 6%;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -90%);
  transition: all 0.1s ease;
}

.cam{
     width: 6%;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -90%);
  transition: all 0.1s ease;
}


.cam:hover{
  transform: translate(-50%, -90%) scale(1.05);
}


@media (max-width: 768px) {
  .pin {
    width: 6%;
  }

  :root {
    --width-content: 100vw;
  }

  .map-container {
    margin: 0;
    padding: 0.5rem;
  }

  main {
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }
}

.logo {
    position: absolute;
}

